# =====================================
# Project specific
# =====================================
coverage/
data

# =====================================
# IDEs
# =====================================

# IntelliJ / Webstorm
# Solution according to
#   - https://stackoverflow.com/questions/11968531/what-to-gitignore-from-the-idea-folder
#   - https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
**/.idea/workspace.xml
**/.idea/usage.statistics.xml
**/.idea/tasks.xml
**/.idea/shelf
# AWS User-specific
**/.idea/**/aws.xml

# Visual Code
.vscode/

# =====================================
# node.js
# =====================================
node_modules/

# =====================================
# npm & yarn & pnpm
# =====================================
npm-debug.log
*/.npm
