[mysqld]
explicit_defaults_for_timestamp = 1
tls_version = TLSv1.2,TLSv1.3
innodb_buffer_pool_size=2G
innodb_log_file_size=256M
max_connections=200
query_cache_size=64M
log_error = /var/log/mysql/error.log
